hs_err_pid*
*.class
.settings/
*.project
*.classpath
errorlogs/
punishments/
characters/
housing/
data/saves/edgeville-well.txt
*.bat
config.txt
.idea/
*.iml
/bin/
*.jar
BootServer.bat
data/saves/logs/
data/saves/pos/shops.dat