hs_err_pid*
*.class

.settings/
*.project
*.classpath

errorlogs/
punishments/
characters/
housing/
data/saves/edgeville-well.txt
*.bat
data/saves/logs/Jonny.txt
data/saves/logs/Dc Blitz.txt
config.txt
.idea/
*.iml
data/saves/logs/Duk.txt
data/saves/logs/Duke.txt