hs_err_pid*
*.class
.settings/
*.project
*.classpath
errorlogs/
punishments/
characters/
housing/
data/saves/edgeville-well.txt
*.bat
config.txt
.idea/
*.iml
/bin/
*.jar
BootServer.bat
data/saves/logs/
data/saves/pos/shops.dat
data/saves/pos/shops.dat
data/saves/scoreboards/tournament_scoreboard.json
data/saves/scoreboards/killstreaks_scoreboard.json
data/saves/scoreboards/killstreaks_scoreboard.json
cache/
data/saves/wells.txt
debug/channelClosed.txt
target/
wiki/
data/objects/
.gradle/
build/
data/objects/farming/High105.json